/* body */
#home_title {
    color: white;
    font-family: Montserrat;
    font-weight: bold;
}

#home_image {
    position:relative;
    width: 80%;
    border-radius: 15px;
}

.btn {
    border-radius: 20px;
}

.btn-light {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-light:hover {
    background-color: #17457A;
    color: white;
}

.btn-outline-light {
    padding-left: 30px;
    padding-right: 30px;
}
