/* body */
/* #loadingmsg {
    color: #17457A;
} */

#sidebar-schedule, #sidebar-tutor {
    margin-bottom: 50px;
}

.sidebar-title, .sidebar-text {
    font-family: Montserrat;
    margin-bottom: 16px;
}

.sidebar-title {
    color: #17457A;
    font-weight: 700;
}

.sidebar-text {
    color: black;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
