
/* body */

#errors {
  color: red;
}

/* table */
.table-outer-div {
    /* padding: 15px; */
    width:100%;
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-spacing: 7px;
}


th {
    border: 1px solid black;
    font-weight: bold;
    background-color: #041346;
    color: whitesmoke;
    padding: 7px;
}

td {
    border: 1px solid black;
    background-color: rgb(245, 245, 240);
    padding: 5px;
}


