<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Schedules</title>
</head>
<body>
    <a href="{{url_for('index')}}">Create Schedules</a>
    <br>
    <table border="1">
        {% for schedule in scheduleList %}
        <tr>
            <th>ScheduleID</th>
            <th>Subject</th>
            <th>Grade</th>
            <th>Year</th>
            <th>Day</th>
            <th>Timing</th>
            <th>TutorID</th>
            <th>studentID</th>
        </tr>
        <tr>
            <td>{{schedule['scheduleID']}}</td>
            <td>{{classDict[schedule['classID']][0]}}</td>
            <td>{{classDict[schedule['classID']][1]}}</td>
            <td>{{schedule['year']}}</td>
            <td>{{schedule['day']}}</td>
            <td>{{schedule['timing']}}</td>
            <td>{{schedule['tutorID']}}</td>
            <td>{{schedule['studentID']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>